<!DOCTYPE html>
<html>
<head>
    <title>首页 | GemFrame开源权限管理系统v1.0.0</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css"  media="all">

</head>
<body>
    头像
    <div class="layui-inline">
        <img src="http://cdn.layui.com/avatar/168.jpg?t=1490352249902" class="layui-circle">
    </div>
    账号：admin
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <!--您的Layui代码start-->
    <script type="text/javascript">
        layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function() {
            var laydate = layui.laydate //日期
                ,laypage = layui.laypage //分页
                ,layer = layui.layer //弹层
                ,table = layui.table //表格
                ,carousel = layui.carousel //轮播
                ,upload = layui.upload //上传
                ,element = layui.element; //元素操作 等等...
            /*layer弹出一个示例*/
            layer.msg('修改个人资料');
        });
    </script>
</body>
</html>
