<!DOCTYPE html>
<html lang="zh-cn" class="fullscreen-bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页 | GemFrame开源权限管理系统v1.0.0</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>

<body>
    <!--左侧-->
    <div th:fragment="left_sidebar" class="main-sidebar">

        <div class="sidebar">
            <!--<form action="#" method="get" class="sidebar-form">-->
            <!--<div class="input-group">-->
            <!--<input type="text" name="q" class="form-control" placeholder="Search...">-->
            <!--<span class="input-group-btn">-->
            <!--<a class="btn btn-flat"><i class="fa fa-search"></i></a>-->
            <!--</span>-->
            <!--</div>-->
            <!--</form>-->
            <ul class="sidebar-menu" id="sidebar-menu">
                <li class="header">导航菜单
                    <span class="glyphicon glyphicon-th-large" style="float: right;" onclick="location.reload()"></span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
